.div {
  height: 22px;
}

.input {
  height: 18px;
  padding-left: 10px;
  width: 197px;
  border-radius: 5px;
  font-size: 10px;
  background-color: white;
  border: 1px solid #D8D8D8;
  margin-left: 12px;
}

.error {
  border: 1px solid red;
}